.btn {
  --paddingY: .5em;
  --paddingX: 1em;
  --width: auto;
  --cursor: pointer;
  --border-radius: 3px;
  --border-width: 1px;
  --border-color: transparent;
  --position: relative;
  --display: inline-block;
  --background-color: transparent;
  --color: var(--textColor);
  --text-transform: none;
  --transition: background-color var(--easing), color var(--easing), border-color var(--easing), box-shadow var(--easing), opacity var(--easing);

  color: var(--color);
  background-color: var(--background-color);
  cursor: var(--cursor);
  user-select: none;
  width: var(--width);
  padding: var(--paddingY) var(--paddingX);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  position: var(--position);
  display: var(--display);
  text-transform: var(--text-transform);
  transition: var(--transition);
  font-size: 1rem;
  line-height: 1em;
  min-height: 1rem;
  text-decoration: none;
  font-family: inherit;

  &--small {
    --paddingY: .25em;
    --paddingX: .5em;
  }

  &--large {
    --paddingY: 1em;
    --paddingX: 1.5em;
  }

  &--primary {
    --background-color: var(--primary);
    --color: var(--primaryContrast);
  }

  &--secondary {
    --background-color: var(--secondary);
    --color: var(--secondaryContrast);
  }

  &--full-width {
    width: 100%;
  }

  &_disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .6;
  }

  &__loader {
    opacity: 0;
  }

  &_loading {
    pointer-events: none;
    cursor: wait;

    .btn__text {
      opacity: 0;
    }

    .btn__loader {
      opacity: 1;
    }
  }

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
    outline: none;
  }

  &:focus {
    opacity: 1;
  }

  // дочерние элементы

  &__icon {
    fill: currentColor;
    display: block;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
