include text

+text({ variant: 'h1' })
  | Заголовок h1

+text({ variant: 'h2' })
  | Заголовок h2

+text({ variant: 'h3' })
  | Заголовок h3

+text({ variant: 'h4' })
  | Заголовок h4

+text({ variant: 'h5' })
  | Заголовок h5

+text({ variant: 'h6' })
  | Заголовок h6

+text
  | Просто текст

+text({ tag: 'small', variant: 'text' })
  | Просто текст (тег small)
